[submodule "zkevm-contracts"]
	path = zkevm-contracts
	url = https://github.com/EspressoSystems/zkevm-contracts.git
[submodule "zkevm-node"]
	path = zkevm-node
	url = https://github.com/EspressoSystems/zkevm-node.git
